/* Google Fonts */
/* Roboto light 300 */
/* Raleway extra light 200 */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300&display=swap");
/* Roboto Regular 400 & Light 300 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #f2f2f2;
}

body > div {
  /* height: 100vh; */
  box-sizing: border-box;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

#main-container {
  width: 39vw;
  background-color: #00294b;
  color: #f2f2f2;
}

#navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00294b;
  border: none;
  outline: none;
  z-index: 99;
}

#navbar > a {
  visibility: hidden;
  color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-decoration: none;
  padding: 50px 30px;
}

#navbar > a:hover {
  color: #efc07b;
}

#title-container {
  box-sizing: border-box;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#title {
  margin-right: 60px;
}

#socials-container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  z-index: 1;
}

.social-icon {
  margin-right: 30px;
}

.social-icon > a {
  color: #efefef;
}

#twitter-icon:hover {
  color: #5db9ff;
}

#github-icon:hover {
  color: #fd65fd;
}

#codepen-icon:hover {
  color: #42f5a1;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 115px;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#firstname {
  margin-right: 130px;
}

#surname {
  text-align: right;
  margin-right: 45px;
}

#role {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: right;
  color: #efc07b;
  padding-right: 10px;
}

#about-me-container,
#projects-container {
  flex-grow: 1;
  flex-basis: 0;
}

/* about me column + project 3 tile */
#about-me-container {
  display: flex;
  flex-direction: column;
}

#about-me-container > div {
  width: 100%;
}

#about-me {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #2a5168;
  color: #f2f2f2;
  padding: 30px;
}

#about-me a {
  color: #efefef;
}

#skills-icon-container {
  padding-top: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon {
  padding: 20px;
}

#project-heading {
  color: #00294b;
}

#project-3-container {
  height: 39%;
}

/* Project column - projects 1 & 2 tiles */
#projects-container {
  display: flex;
  flex-direction: column;
}

#projects-container > div {
  width: 100%;
}

#projects-description {
  flex-grow: 1;
  background-color: #ebc389;
  padding: 30px;
}

.project-container {
  display: flex;
  flex-direction: column;
}

#project-1-container,
#project-2-container {
  height: 39%;
}

#project-1-container {
  padding-left: 20px;
  padding-right: 20px;
}

#project-2-container, #project-3-container {
  padding-top: 5px;
}

#project-2-container {
  padding-left: 20px;
  padding-right: 20px;
}

#project-3-container {
  padding-left: 35px;
  padding-right: 5px;
}

.project {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.project-img {
  border: 2px solid #00294B;
  border-radius: 8px;
  overflow: hidden;
}

#project-1 {
  justify-content: flex-end;
}

#project-2, #project-3 {
  justify-content: center;
  align-items: center;
}

.project-title {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #000000;
  margin: 0;
  padding-bottom: 12px;
}

.project-img {
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.border-box {
  box-sizing: border-box;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  body > div {
    width: 100vw;
    flex-grow: 1;
  }

  #main-container {
    width: 100vw;
    height: 100vh;
  }

  #navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  #navbar > a {
    visibility: visible;
    font-size: 18px;
    padding: 20px;
  }

  #title-container {
    margin-top: 80px;
    padding-right: 10px;
  }

  #title {
    margin-right: 10px;
  }

  #surname {
    margin-right: 60px;
  }

  h1 {
    font-size: 90px;
  }

  #role {
    font-size: 26px;
  }

  /* place this column at the end or the order, then reverse its 
  content order to create a continuous view of the projects in the 
  mobile version */
  #about-me-container {
    flex-direction: column-reverse;
    order: 3;
  }

  #about-me {
    /* allow for sticky navbar */
    height: calc(100vh - 65px);
    min-height: 400px;
  }

  .project-container {
    padding-top: 20px;
  }

  #project-2-container, #project-3-container {
    padding-top: 20px;
  }

  #project-3-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}
