/* Google Fonts */
/* Roboto light 300 */
/* Raleway extra light 200 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300&display=swap');
/* Roboto Regular 400 & Light 300 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #F2F2F2;
}

body > div {
  height: 100vh;
  box-sizing: border-box;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

#main-container {
  width: 39vw;
  background-color: #00294b;
  color: #F2F2F2;
}

#navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00294b;
  border: none;
  outline: none;
  z-index: 99;
}

#navbar > a {
  color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-decoration: none;
  padding: 50px 30px;
}

#navbar > a:hover {
  color: #EFC07B;
}

#title-container {
  box-sizing: border-box;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#title {
  margin-right: 60px;
}

#socials-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  z-index: 1;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 115px;
  color: #F2F2F2;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#firstname {
  margin-right: 130px;
}

#surname {
  text-align: right;
  margin-right: 45px;
}

#role {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: right;
  color: #EFC07B;
  padding-right: 10px;
}

#about-me-container, #projects-container {
  flex-grow: 1;
  flex-basis: 0;
}

/* about me column + project 3 tile */
#about-me-container {
  display: flex;
  flex-direction: column;
}

#about-me-container > div {
  width: 100%;
}

#about-me {
  flex-grow: 1;
  background-color: #2a5168;
  color: #F2F2F2;
  padding: 45px 30px 30px 30px;
}

#project-heading {
  color: #00294b;
}

#project-3 {
  height: 39%;
}

/* Project column - projects 1 & 2 tiles */
#projects-container {
  display: flex;
  flex-direction: column;
}

#projects-container > div {
  width: 100%;
}

#projects-description {
  flex-grow: 1;
  background-color: #ebc389;
  padding: 45px 30px 30px 30px;
}

#project-1, #project-2 {
  height: 39%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.border-box {
  box-sizing: border-box;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  body > div {
    width: 100vw;
    flex-grow: 1;
  }

  #main-container {
    width: 100vw;
  }

  #navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
  }

  #navbar > a {
    font-size: 18px;
    padding: 20px;
  }

  #title-container {
    margin-top: 80px;
    padding-right: 10px;
  }

  #title {
    margin-right: 10px;
  }

  #surname {
    margin-right: 60px;
  }

  h1 {
    font-size: 90px;
  }

  #role {
    font-size: 26px;
  }

  /* place this column at the end or the order, then reverse its 
  content order to create a continuous view of the projects in the 
  mobile version */
  #about-me-container {
    flex-direction: column-reverse;
    order: 3;
  }
  
}